/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;

  --secondary-color: #8e8e8e;
  /* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary-color);
}
.active-link {
  color: var(--secondary-color);
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
}

/* Full Page Layout */
.carousel-container {
  position: relative;
  width: 100%; /* Fullscreen */
  height: 540px;
  overflow: hidden;
}

.carousel-container li button {
  border: 2px solid rgb(255, 255, 255) !important;
  background: #e0e0e0 !important;
}

/* Background Carousel */
.carousel {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 1);
}

.carousel-slide {
  width: 100%;
  background-size: cover;
  background-position: center;
}

/* Form Overlay */
.form-container-top {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

/* Form Overlay */
.form-container {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent */
  width: 100%;
  height: 25%;
  text-align: center;
  align-items: center;
}
.form-container-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.3); /* Semi-transparent */
  width: 100%;
  height: 100%;
  text-align: center;
}
/*
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
